# Ranking-type Recommender Algorithm. 

The following report is to show the results of the ranking-type Recommender Algorithm, in the style of the imdb top 250 for the recommendation of movies to the users.

To make the ranking and recommend the films we use the data provided by the company's engineers, the media.csv file.

The first thing we did was load the media.csv file using pandas and we also loaded the Numpy library to do calculations.

### Analysis to develop

- Ranking type recommender, in the style of the imdb top 250. 
- A tag-based recommender, which lists movies.
- A collaborative filter recommender to recommend.

from google.colab import drive
drive.mount('/content/drive')

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np

peliculas = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/eoi_recomendaciones/datos/medias.csv', low_memory=False)

In [ ]:
# Display the total of the columns of the dataset
pd.options.display.max_columns = 100

In [ ]:
peliculas.head()

,Unnamed: 0,imdb_id,conteo,media_rating,imdb_title,genre
0,0,tt0000008,1,5.0,Edison Kinetoscopic Record of a Sneeze,Documentary|Short
1,1,tt0419773,1,8.0,Gespenster,Drama
2,2,tt0419766,1,6.0,Garçon stupide,Comedy|Drama|Romance
3,3,tt0419765,1,8.0,We Have the Following News,Comedy
4,4,tt4048050,1,10.0,My Golden Days,Drama

In [ ]:
# We calculate the cut-off point to obtain the 10% of the films with the highest number of votes
corte_votos= peliculas['conteo'].quantile(0.90)
corte_votos

35.0

In [ ]:
peliculas_filtrado = peliculas[peliculas.conteo >= corte_votos].reset_index()

In [ ]:
peliculas_filtrado.shape

(3817, 7)

In [ ]:
# Calculate C (Average rating of all movies in the dataset)
media = peliculas_filtrado.media_rating.mean()
media

7.140327152565303

In [ ]:
# Create the function that allows us to calculate the average of IMDb.
def media_imdb(x, m=corte_votos, C=media):
    v = x['conteo']
    R = x['media_rating']
    # Calculate the weighted score
    return round((R*v + C*m) / (v+m),2)

In [ ]:
# We apply the function that we have created to the entire data frame and store it in the score column 
peliculas_filtrado["score"] = peliculas_filtrado.apply(media_imdb,axis = 1)

In [ ]:
# Order the results based on the results obtained
peliculas_filtrado = peliculas_filtrado.sort_values('score', ascending=False)

In [ ]:
# We see the top 25 of our films
peliculas_filtrado[['imdb_title', 'conteo', 'media_rating', 'genre']].head(25)

,imdb_title,conteo,media_rating,genre
3273,Be Somebody,353,9.985836,Comedy|Drama|Romance
3729,The Shawshank Redemption,1177,9.388275,Drama
3609,The Dark Knight,740,9.279730,Action|Crime|Drama|Thriller
3333,The Lord of the Rings: The Return of the King,392,9.346939,Adventure|Drama|Fantasy
3660,12 Angry Men,874,9.210526,Crime|Drama
3812,Joker,2757,9.081973,Crime|Drama|Thriller
3763,Avengers: Endgame,1474,9.046811,Action|Adventure|Fantasy|Sci-Fi
3320,The Godfather: Part II,385,9.140260,Crime|Drama
3599,The Godfather,717,9.050209,Crime|Drama
3713,Inception,1056,9.024621,Action|Adventure|Sci-Fi|Thriller
3680,Forrest Gump,930,9.022581,Drama|Romance
3246,It's a Wonderful Life,342,9.125731,Drama|Family|Fantasy
3220,Amadeus,332,9.111446,Biography|Drama|History|Music
3301,"The Good, the Bad and the Ugly",373,9.077748,Western
3489,The Green Mile,535,9.016822,Crime|Drama|Fantasy|Mystery
3435,Schindler's List,470,9.023404,Biography|Drama|History
3512,Scent of a Woman,555,8.998198,Drama
2831,Demon Slayer: Mugen Train,200,9.175000,Animation|Action|Adventure|Fantasy
3033,Terminator 2: Judgment Day,249,9.108434,Action|Sci-Fi
3692,Se7en,970,8.910309,Crime|Drama|Mystery|Thriller
3543,One Flew Over the Cuckoo's Nest,605,8.935537,Drama
3580,A Beautiful Mind,679,8.932253,Biography|Drama
3815,Interstellar,2964,8.846154,Adventure|Drama|Sci-Fi
3666,The Prestige,888,8.896396,Drama|Mystery|Sci-Fi|Thriller
3318,Dangal,384,8.968750,Action|Biography|Drama|Sport